In [12]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

### 读入

In [8]:
    def ReadCSV(filename):
        #读入数据
        df = pd.read_csv(filename)
        return df
    ReadCSV('titanic.csv')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.0,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.0,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,male,21.0,1,0,11.5000,S,Second,man,True,NaN,Southampton,no,False
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
864,0,2,male,24.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
865,1,2,female,42.0,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
869,1,3,male,4.0,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
870,0,3,male,26.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
873,0,3,male,47.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
876,0,3,male,20.0,0,0,9.8458,S,Third,man,True,NaN,Southampton,no,True
877,0,3,male,19.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [5]:
import pandas as pd
data_test = pd.read_csv('titanic.csv')
#data_test.head(6)
type(data_test)

pandas.core.frame.DataFrame

### 删除重复记录

In [9]:
def Del_dup(df):
    df.drop_duplicates(inplace = True)
    return df
iris = sns.load_dataset('iris')
#加一行异常数据测试用
iris.tail(3)
iris.loc[150] = [9,5,8,6,'virginica']
iris.loc[151] = [9,5,8,6,'virginica']
iris.tail(3)
df=Del_dup(iris)
df.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
150           9.0          5.0           8.0          6.0  virginica

#删除重复记录
iris.drop_duplicates(inplace = True)
# iris.tail(3)

### 缺失值处理

In [11]:
data_test.isnull()
data_test = iris
#删除缺失值
data_test_dropped = data_test.dropna()
#data_test_dropped.isnull()
#填充缺失值
## 均值填充
data_test_filled_mean= data_test.fillna(data_test.mean())
#data_test_filled
## 上下值填充
data_test_filled_forward = data_test.fillna(method='ffill')
data_test_filled_backward = data_test.fillna(method='bfill')

NameError: name 'data_test' is not defined

### 异常值处理

In [5]:
#异常值
import seaborn as sns
iris = sns.load_dataset('iris')
iris.boxplot()

In [35]:
# iris
#加一行异常数据测试用
iris.tail(3)
iris.loc[150] = [9,5,8,6,'virginica']
iris.loc[151] = [9,5,8,6,'virginica']
iris.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
150           9.0          5.0           8.0          6.0  virginica
151           9.0          5.0           8.0          6.0  virginica

In [56]:
df = iris
for x in df.index:
  if abs(df.loc[x,'sepal_length']-df.loc[x,'sepal_length'].mean()) > 3*df.loc[x,'sepal_length']. std():
    df.drop(x, inplace = True)
# df

In [151]:
df=iris
#把数值型数据找出来
df.dtypes
df = df.select_dtypes("float64")

In [134]:
    def Outlier_zscore(df,z_score_threshold=2.2):
        # 通过Z-Score方法判断异常值
        df_zscore = df.copy()  # 复制一个用来存储Z-score得分的数据框
        cols = df.columns  #  获得列表框的列名
        for col in cols:
            df_col = df[col]  #  得到每一列的值
            z_score = (df_col - df_col.mean()) / df_col.std()  #计算每一列的Z-score得分
            df_zscore[col] = z_score.abs() > z_score_threshold  
            # 判断Z-score得分是否大于2.2，如果是则是True，否则为False
            df_drop_outlier = df[df_zscore[col] == False]
        # df_drop_outlier
        # df_zscore
        return df_drop_outlier
    df_outlier=Outlier_zscore(df,z_score_threshold=1)
    # df_outlier

In [124]:
# 通过Z-Score方法判断异常值
df_zscore = df.copy()  # 复制一个用来存储Z-score得分的数据框
cols = df.columns  #  获得列表框的列名
for col in cols:
    df_col = df[col]  #  得到每一列的值
    z_score = (df_col - df_col.mean()) / df_col.std()  #  计算每一列的Z-score得分
    df_zscore[col] = z_score.abs() > 2.2  # 判断Z-score得分是否大于2.2，如果是则是True，否则为False
    df_drop_outlier = df[df_zscore[col] == False]
# df_drop_outlier
# df_zscore

In [103]:
# 删除异常值所在的行
# df_drop_outlier = df[df_zscore['col1'] == False]
type(df_drop_outlier)
df_drop_outlier.shape[0]
df.shape[0]

63

In [171]:
    def Outlier_threesigma(df,t=3):
        def three_sigma(Ser1,t):
            '''
            Ser1：表示传入DataFrame的某一列。
            '''
            rule = (Ser1.mean()-t*Ser1.std()>Ser1) | (Ser1.mean()+t*Ser1.std()< Ser1)
            index = np.arange(Ser1.shape[0])[rule]
            return index  #返回落在3sigma之外的行索引值
        def delete_out3sigma(data,t=3):
            out_index = [] #保存要删除的行索引
            for i in range(data.shape[1]): # 对每一列分别用3sigma原则处理
                index = three_sigma(data.iloc[:,i],t)
                out_index += index.tolist()
            delete_ = list(set(out_index))
            print('所删除的行索引为：',delete_)
            data.drop(delete_,inplace=True)
            return data
        df=delete_out3sigma(df)
        return df
    df2=Oulier_ThreeSigma(df,t=1)
    df2

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
8             4.4          2.9           1.4          0.2
9             4.9          3.1           1.5          0.1
10            5.4          3.7           1.5          0.2
11            4.8          3.4           1.6          0.2
12            4.8          3.0           1.4          0.1
13            4.3          3.0           1.1          0.1
16            5.4          3.9           1.3          0.4
17            5.1          3.5           1.4          0.3
18            5.7          3.8           1.7          0.3
19            5.1          3.8           1.5          0.3
20            5.4          3.4           1.7          0.2
21            5.1          3.7           1.5          0.4
22            4.6          3.6           1.0          0.2
23            5.1          3.3           1.7          0.5
24            4.8          3.4           1.9          0.2
25            5.0          3.0           1.6          0.2
26            5.0          3.4           1.6          0.4
27            5.2          3.5           1.5          0.2
28            5.2          3.4           1.4          0.2
29            4.7          3.2           1.6          0.2
30            4.8          3.1           1.6          0.2
31            5.4          3.4           1.5          0.4
..            ...          ...           ...          ...
109           7.2          3.6           6.1          2.5
110           6.5          3.2           5.1          2.0
111           6.4          2.7           5.3          1.9
112           6.8          3.0           5.5          2.1
113           5.7          2.5           5.0          2.0
114           5.8          2.8           5.1          2.4
115           6.4          3.2           5.3          2.3
116           6.5          3.0           5.5          1.8
119           6.0          2.2           5.0          1.5
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
132           6.4          2.8           5.6          2.2
136           6.3          3.4           5.6          2.4
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
150           9.0          5.0           8.0          6.0

[133 rows x 4 columns]

In [163]:
def three_sigma(Ser1,t):
    '''
    Ser1：表示传入DataFrame的某一列。
    '''
    rule = (Ser1.mean()-t*Ser1.std()>Ser1) | (Ser1.mean()+t*Ser1.std()< Ser1)
    index = np.arange(Ser1.shape[0])[rule]
    return index  #返回落在3sigma之外的行索引值
def delete_out3sigma(data,t=3):
    out_index = [] #保存要删除的行索引
    for i in range(data.shape[1]): # 对每一列分别用3sigma原则处理
        index = three_sigma(data.iloc[:,i],t)
        out_index += index.tolist()
    delete_ = list(set(out_index))
    print('所删除的行索引为：',delete_)
    data.drop(delete_,inplace=True)
    return data
df1=delete_out3sigma(df)
df1

所删除的行索引为： [134]

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
8             4.4          2.9           1.4          0.2
9             4.9          3.1           1.5          0.1
10            5.4          3.7           1.5          0.2
11            4.8          3.4           1.6          0.2
12            4.8          3.0           1.4          0.1
13            4.3          3.0           1.1          0.1
16            5.4          3.9           1.3          0.4
17            5.1          3.5           1.4          0.3
18            5.7          3.8           1.7          0.3
19            5.1          3.8           1.5          0.3
20            5.4          3.4           1.7          0.2
21            5.1          3.7           1.5          0.4
22            4.6          3.6           1.0          0.2
23            5.1          3.3           1.7          0.5
24            4.8          3.4           1.9          0.2
25            5.0          3.0           1.6          0.2
26            5.0          3.4           1.6          0.4
27            5.2          3.5           1.5          0.2
28            5.2          3.4           1.4          0.2
29            4.7          3.2           1.6          0.2
30            4.8          3.1           1.6          0.2
31            5.4          3.4           1.5          0.4
..            ...          ...           ...          ...
110           6.5          3.2           5.1          2.0
111           6.4          2.7           5.3          1.9
112           6.8          3.0           5.5          2.1
113           5.7          2.5           5.0          2.0
114           5.8          2.8           5.1          2.4
115           6.4          3.2           5.3          2.3
116           6.5          3.0           5.5          1.8
119           6.0          2.2           5.0          1.5
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
136           6.3          3.4           5.6          2.4
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
150           9.0          5.0           8.0          6.0

[134 rows x 4 columns]

In [159]:
def three_sigma(Ser1):
    '''
    Ser1：表示传入DataFrame的某一列。
    '''
    rule = (Ser1.mean()-3*Ser1.std()>Ser1) | (Ser1.mean()+3*Ser1.std()< Ser1)
    index = np.arange(Ser1.shape[0])[rule]
    return index  #返回落在3sigma之外的行索引值
def delete_out3sigma(data):
    out_index = [] #保存要删除的行索引
    for i in range(data.shape[1]): # 对每一列分别用3sigma原则处理
        index = three_sigma(data.iloc[:,i])
        out_index += index.tolist()
    delete_ = list(set(out_index))
    print('所删除的行索引为：',delete_)
    data.drop(delete_,inplace=True)
    return data
# df1=delete_out3sigma(df,t=1)
# df1

In [147]:
import numpy as np
def Oulier_ThreeSigma(df,t=3):
    def three_sigma(Ser1):
        rule = (Ser1.mean()-t*Ser1.std()>Ser1) | (Ser1.mean()+t*Ser1.std()< Ser1)
        index = np.arange(Ser1.shape[0])[rule]
        return index  #返回落在3sigma之外的行索引值
    def delete_out3sigma(df):
        out_index = [] #保存要删除的行索引
        for i in range(df.shape[1]): # 对每一列分别用3sigma原则处理
            index = three_sigma(df.iloc[:,i])
            out_index += index.tolist()
        delete_ = list(set(out_index))
        print('所删除的行索引为：',delete_)
        df.drop(delete_,inplace=True)
        return df
    return df
df_test = Oulier_ThreeSigma(df,t=2)
df_test

# (df,t=1)
# for col_index in df.columns:
#     for i in col_index:
#         if abs(df[i]-df[i].mean()) > 3*df[i]. std():
#             df.drop(i, inplace = True)
# df
    # col = abs(df[col_index]-df[]
    # print(df[col_index])
    # print(type(data[index]))
    # print(data[data>3])

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
8             4.4          2.9           1.4          0.2
9             4.9          3.1           1.5          0.1
10            5.4          3.7           1.5          0.2
11            4.8          3.4           1.6          0.2
12            4.8          3.0           1.4          0.1
13            4.3          3.0           1.1          0.1
14            5.8          4.0           1.2          0.2
15            5.7          4.4           1.5          0.4
16            5.4          3.9           1.3          0.4
17            5.1          3.5           1.4          0.3
18            5.7          3.8           1.7          0.3
19            5.1          3.8           1.5          0.3
20            5.4          3.4           1.7          0.2
21            5.1          3.7           1.5          0.4
22            4.6          3.6           1.0          0.2
23            5.1          3.3           1.7          0.5
24            4.8          3.4           1.9          0.2
25            5.0          3.0           1.6          0.2
26            5.0          3.4           1.6          0.4
27            5.2          3.5           1.5          0.2
28            5.2          3.4           1.4          0.2
29            4.7          3.2           1.6          0.2
..            ...          ...           ...          ...
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
131           7.9          3.8           6.4          2.0
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
134           6.1          2.6           5.6          1.4
135           7.7          3.0           6.1          2.3
136           6.3          3.4           5.6          2.4
137           6.4          3.1           5.5          1.8
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8
150           9.0          5.0           8.0          6.0

[150 rows x 4 columns]

In [90]:
df

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [42]:
dict = [[1,2,3,4,5,6],[0,0,0,0,0,0],[10,9,8,7,7,8]]
data = pd.DataFrame(dict)
print(data)

    0  1  2  3  4  5
0   1  2  3  4  5  6
1   0  0  0  0  0  0
2  10  9  8  7  7  8

In [73]:
for col_index in data.columns:
    col = data[col_index]
    # print(col_index)
    # print(data[col_index])
    print(data.loc[col_index])
    # print(type(data[index]))
    # print(data[data>3])

0    1
1    2
2    3
3    4
4    5
5    6
Name: 0, dtype: int64
0    0
1    0
2    0
3    0
4    0
5    0
Name: 1, dtype: int64
0    10
1     9
2     8
3     7
4     7
5     8
Name: 2, dtype: int64

KeyError: 3

In [47]:
col
type(col)
col_IndexName =

pandas.core.series.Series

In [ ]:
# df = pd.DataFrame(person)
sansigma = 
for x in df.index:
  if df.loc[x, "age"] > 120:
    df.drop(x, inplace = True)

print(df.to_string())

In [33]:
data = iris.iloc[:,1]
# data
# type(data)
# d = []
# for i,row in data.iterrows():
#     if row[]
# # data
# # data
# data_normal = data.drop(abs(data-data.mean() > 3*data.std()))
# data_normal
data_outlier = data[abs(data-data.median() > 3*data.std())]
data_outlier
# type(data_outlier)

15     4.4
150    5.0
Name: sepal_width, dtype: float64

In [34]:
type(data_outlier)

pandas.core.series.Series

In [27]:
#基于3σ原则找出异常点
#iris_outlier = iris 
data = iris.iloc[1]

#异常值是指样本中的个别值，其数值明显偏离其余的观测值。
#异常值也称离群点，异常值的分析也称为离群点的分析

#异常值分析 → 3σ原则 / 箱型图分析
#异常值处理方法 → 删除 / 修正填补

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats


# 异常值分析
# （1）3σ原则：如果数据服从正态分布，异常值被定义为一组测定值中与平均值的偏差超过3倍的值 → p(|x - μ| > 3σ) ≤ 0.003
u = data.mean()  # 计算均值
std = data.std()  # 计算标准差
stats.kstest(data, 'norm', (u, std))
print(u,std)
# print('均值为：%.3f，标准差为：%.3f' % (u,std))

# fig = plt.figure(figsize = (10,6))
# ax1 = fig.add_subplot(2,1,1)
# data.plot(kind = 'kde',grid = True,style = '-k',title = '密度曲线')
# plt.axvline(3*std,hold=None,color='r',linestyle="--",alpha=0.8) 
# plt.axvline(-3*std,hold=None,color='r',linestyle="--",alpha=0.8) 
# # 绘制数据密度曲线

# error = data[np.abs(data - u) > 3*std]
# data_c = data[np.abs(data - u) <= 3*std]
# print('异常值共%i条' % len(error))
# # 筛选出异常值error、剔除异常值之后的数据data_c
# ax2 = fig.add_subplot(2,1,2)
# plt.scatter(data_c.index,data_c,color = 'k',marker='.',alpha = 0.3)
# plt.scatter(error.index,error,color = 'r',marker='.',alpha = 0.5)
# plt.xlim([-10,10010])
# plt.grid()
# # 图表表达

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')