In [16]:
import pandas as pd
data_test = pd.read_csv('titanic.csv')
data_test.head(6)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True

In [14]:
#data_test.isnull()
#删除缺失值
data_test_dropped = data_test.dropna()
#data_test_dropped.isnull()
#填充缺失值
## 均值填充
data_test_filled_mean= data_test.fillna(data_test.mean())
#data_test_filled
## 上下值填充
data_test_filled_forward = data_test.fillna(method='ffill')
data_test_filled_backward = data_test.fillna(method='bfill')

In [20]:
import seaborn as sns
iris = sns.load_dataset('iris')

iris.boxplot()

AttributeError: 'Series' object has no attribute 'boxplot'